.weatherDataCont {
    background: rgb(200, 200, 200, 0.5);
    border-radius: 5px;
    height: 100px;
    line-height: 100px;
    width: 100%;
}

.weatherTemperatureCont {
    /* background: lightgreen; */
    display: inline-block;
    width: 60%;
}

.weatherExtraInfoCont {
    /* background: lightcoral; */
    display: inline-block;
    line-height: 28px;
    text-align: left;
    width: 40%;
}

.temperature{
    color: #333;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.wicon {
    color: #F77206;
}

.temperaturetype {
    color: #666;
    font-weight: bold;    
}

.extraInforText {
    color: #1235c5;
    display: block;
    font-size: 16px;
    font-weight: bold;
}