.weatherDataCont {
    background: cornflowerblue;
    color: white;
}

.weatherExtraInfoCont {
    background: lightcoral;
    color: white;
}

.weatherTemperatureCont {
    background: lightgreen;
    color: white;
}