.weatherDataCont {
    background: cornflowerblue;
    height: 100px;
    line-height: 100px;
    width: 400px;
}

.weatherTemperatureCont {
    background: lightgreen;
    display: inline-block;
    width: 60%;
}

.weatherExtraInfoCont {
    background: lightcoral;
    display: inline-block;
    width: 40%;
}

.temperature{
    color: darkgray;
    font-size: 30px;
    font-weight: bold;
    padding-left: 20px;
}

.wicon {

}

.temperaturetype {
    color: lightgray;
    font-weight: bold;    
}